/*asterisk wildcard selector to override server default*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*google-fonts-styles*/

.vina-sans-regular {
    font-family: "Vina Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.long-cang-regular {
    font-family: "Long Cang", cursive;
    font-weight: 400;
    font-style: normal;
}

.Wix-Made-for-display {
    font-family: "wix madefor display", cursive;
    font-weight: 400;
    font-style: normal;
}

/*general-styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*generic project styles*/

    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 10px;
}

.maintitle {
    font-size: 4vh;
}

/*header*/
header {
    background-color: rgb(97, 82, 236);
    padding: 0 0rem;
    /* position: fixed; */
    font-family: 'Vina Sans', sans-serif;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #000000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 12vh;
    position: sticky;
    top: 0px;
}

h1 {
    font-family: 'Vina Sans', sans-serif;
    letter-spacing: 6px;
    color: #000000;
    text-decoration-line: none;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    font-family: 'wix madefor display', sans-serif;
    letter-spacing: 2px;
    color: #000000;
    text-decoration-line: none;
    font-size: larger;
    text-align: center;

}

h3 {
    padding: 15%;  
    float: left;
    font-size: 4vh;
    font-style: italic;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    background-color: rgb(226, 216, 216);
    width: 30%;
    right: 0px;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 12vh;
    position: absolute;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*subheading styles*/

#subheading {
    width: 100%;
    box-shadow: 0 2px 2px #ff0000;
    font-family: 'wix madefor display', sans-serif;
    letter-spacing: 2px;
    color: #000000;

}

header h2 {
    display: none;
}


/*main content*/

main {

    /*make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    color: rgb(94, 150, 196);
    border-color: #ff0000;
    height: 100%;
    border: 20px;
    font-family: 'wix madefor display', sans-serif;
    
}


section {
    padding-top: 100px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: x-large;
    font-style: italic;
    font-family: 'wix madefor display', sans-serif;


}

/*add scrolling gallery to home page*/

div.scroll-container {
    background-color: #658cbe;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;


}

div.scroll-container img {
    padding: 10px;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;

}

.gallery {
    max-width: 320px;
    max-height: 320px;
}



.youtubevideo {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
    min-height: 300px;
    align-self: center;
    object-fit: scale-down;
}

.videowrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.quotelist {

    float: left;
    padding: 30px;
    font-size: x-large;
    font-family: 'wix madefor display', sans-serif;
}

.quotecontainer {
    padding-bottom: 5rem;
}

.quotestyle {
    padding: 10px;
    font-style: italic;
}

/*footer*/
footer {
    background-color: rgb(97, 82, 236);
    padding: 0 1rem;
    font-family: 'wix madefor display', sans-serif;
    width: 100%;
    box-shadow: 2px 2px 2px #000000 inset;


}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #4e4d4d
}

/*media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        top: auto;
        position: static;
    }

    header h2 {
        display: block;
        padding-right: 25px;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;

    }

    #logo {
        font-size: 100%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #h2 {
        display: none;
    }

    /*main content*/
    main {
        border-color: #565a45;
    }

    #hero {
        flex-direction: row;
        height: 100vh;
    }

    #youtube {
        width: 560px;
        height: 315px;
        min-height: 300px;
    }

    .quotecontainer {
        display: flex;
        flex-direction: row;
        padding-left: 8rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
    }

    .quotereverse {
        flex-direction: row-reverse;
    }

    .quotelist {
        width: 60%;
    }

    .quotestyle {
        padding: 5%;
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/*media screen styling for scrolling gallery*/
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}


/*styling for hints tips and hacks*/


main {
    padding-top: 70px;
}

label {
    display: block;
    padding: 4px 4px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #313131;
    border-radius: 15px;
    color: #000000;
    transition: ease .5s;
    text-align: center;
    border-color: rgb(255, 0, 0);
    font-family: "wix madefor display";
    font-size: 30px;

}

label:hover {
    background: #a7a7a7;
}

.content {
    background: #000000;
    padding: 10px 25px;
    border: 3px solid #ff0000;
    margin: 0 0 1px 0;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    font-family: "wix madefor display";
    letter-spacing: 2px;
    color: floralwhite;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    padding-top: 50px;
    list-style-type: none;

}

.content div {
    padding-top: 20px;
}

.hackscontent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 80vh;
}

input[type="checkbox"] {
    display: none;
}

input+label+.content {
    display: none;
}

input:checked+label+.content {
    display: block;

}

.instagram-media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 80vh;
}

/*support form box styles*/

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ff0000;
    color: rgb(156, 143, 76);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #96b171;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
    max-width: 75%;
    margin-right: 12vh;
    margin-left: 12vh;
}

#logo {
    justify-content: center;
}