/*asterisk wildcard selector to override server default*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*google-fonts-styles*/

.vina-sans-regular {
    font-family: "Vina Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.long-cang-regular {
    font-family: "Long Cang", cursive;
    font-weight: 400;
    font-style: normal;
}

.Wix-Made-for-display {
    font-family: "wix madefor display", cursive;
    font-weight: 400;
    font-style: normal;
}

/*general-styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*generic project styles*/

    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
}


/*header*/
header {
    background-color: rgb(156, 143, 76);
    padding: 0 0rem;
    position: fixed;
    font-family: 'Vina Sans', sans-serif;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #252525;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 12vh;
}

h1 {
    font-family: 'Vina Sans', sans-serif;
    letter-spacing: 6px;
    color: #252525;
    text-decoration-line: none;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    font-family: 'wix madefor display', sans-serif;
    letter-spacing: 2px;
    color: #252525;
    text-decoration-line: none;
    font-size: larger;
    text-align: center;

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*navbar styles with dropdown menu*/

nav {

    background-color: rgb(156, 143, 76);
    font-family: 'wix madefor display', sans-serif;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    left: 0;
    top: 100%;
    text-decoration-color: #000000;
    position: absolute;
    display: none;

}

/*nav toggle*/

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*subheading styles*/

#subheading {
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    font-family: 'wix madefor display', sans-serif;
    letter-spacing: 2px;
    color: #252525;

}


/*main content*/
main {

    /*make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 45px;
    background-color: rgb(234, 210, 115);
    height: 100%;

}

/*hero section*/

#hero {


    background: url("../images/2-Single-Dad-Support-Group.webp");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
   
}

/*text for hero*/

div {
    color: #211717;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    font-family: 'wix madefor display'

}


#youtube {
    width: 60%;
    min-height: 300px;
    align-self: center;
}

.youtube {
    aspect-ratio: 16 / 9;
    width: 100%;
}


.text1 {
    
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.text2 {
    text-align: right;
    
}



/*footer*/
footer {
    background-color: rgb(156, 143, 76);
    padding: 0 1rem;
    font-family: 'wix madefor display', sans-serif;
    width: 100%;
    box-shadow: 2px 2px 2px #3a3a3a inset;


}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a
}

/*media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*header*/
    nav {
        display: block;
        box-shadow: none;
        width: auto;
        padding-right: 1rem;
    }

    


    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;

    }

    #logo {
        font-size: 180%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #h2 {
        display: none;
    }

    /*main content*/
    main {
        margin-top: 79px;
    }

    #hero {



        flex-direction: row;
        height: 100vh;

    }

    #youtube {
        width: 560px;
        height: 315px;
        min-height: 300px;
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}


/*styling for hints tips and hacks*/

input {
    display: none;
}

label {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6b6d55;
    border-radius: 15px;
    color: #373535;
    transition: ease .5s;
    text-align: center;
    height: 100px;
    border-color: antiquewhite;
    padding-top: 40px;
    font-family: "wix madefor display";
    font-size: 30px;
    padding-bottom: 20px;
    
}

label:hover {
    background: #a7a7a7;
}

.content {
    background: #565a45;
    padding: 10px 25px;
    border: 3px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    font-family: "wix madefor display";
    letter-spacing: 2px;
    color: floralwhite;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    

}

input+label+.content {
    display: none;
}

input:checked+label+.content {
    display: block;
}


/*support form box styles*/

/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #7b823c;
    color: rgb(156, 143, 76);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #96b171;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #646353;
    padding: 20px;
    
  }